html, body {
  width: 100%;
  height: 100%;
  background: white;
}

table {
  height: 20%;
  width: 75%;
  margin: 75px auto;
  border: 1px solid black;
}

th {
  text-align: start;
  background: black;
  color: white;
}

td {
  border: 1px solid black;
}


th, td {
  padding-left: 10px;
}

tr:nth-child(even) {
  background: lightgray;
}